# Introduction to Data Science and Machine Learning

<p align="center">
    <img width="699" alt="image" src="https://user-images.githubusercontent.com/49638680/159042792-8510fbd1-c4ac-4a48-8320-bc6c1a49cdae.png">
</p>

---

### Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import copy

import matplotlib.pyplot as plt
import matplotlib.cm as cm

from sklearn import datasets
from sklearn.cluster import KMeans, SpectralClustering, MiniBatchKMeans
from sklearn.metrics import silhouette_samples, silhouette_score, accuracy_score, confusion_matrix
from sklearn.utils.multiclass import unique_labels

# set plot size
plt.rcParams['figure.figsize'] = (20, 13)
%matplotlib inline
%config InlineBackend.figure_format = "retina"

## Exercises

### Exercise 1

Apply silhouette analysis to [this dataset](https://raw.githubusercontent.com/andreduong-zz/credit-card-clustering/master/CC%20GENERAL.csv) and use your result to solve the following exercise.

> Develop a _customer segmentation_ to define marketing strategy. The sample Dataset summarises the usage behaviour of about $9000$ active credit card holders during the last $6$ months. The file is at a customer level with $18$ behavioural variables.

In [2]:
file = 'https://raw.githubusercontent.com/andreduong-zz/credit-card-clustering/master/CC%20GENERAL.csv'
df = pd.read_csv(file)

df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

### Exercise 2

Try to apply $k$-means to digits dataset.

The aim of the exercise is to identify similar digits without using the original label information.
You can thin to this as similar to a first step in extracting meaning from a new dataset about which you do not have any _a priori_ label information.

Recall that the digits consist of $1797$ samples with $64$ features, where each of the $64$ features is the brightness of one pixel in an $8\times8$ image.

The result should be $10$ clusters in $64$ dimensions.
Notice that the cluster centroids themselves are $64$-dimensional points, and can themselves be interpreted as the "typical" digit within the cluster.

Write a code to plot what these cluster centers look like.

**Hint**: even if you are in an unsupervised context, you actually have labels, use theme to measure yur algorithm performance.

### Exercise 3

Use the [Mall Customer dataset](https://raw.githubusercontent.com/oscar-defelice/DSAcademy-lectures/master/Lectures_src/07.Unsupervised_learning/datasets/Mall_Customers.csv) and cluster them in spending groups, that is groups with somehow homogeneous _spending scores_.

The exercise should contain $5$ steps:

1. Problem statement
2. Data Analysis
3. Data processing
4. The clustering algorithm and related choices
   - Clustering plots
5. Takeaways

**BONUS**: An appropriate EDA and nice data visualisation.